
html
{font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
    background: linear-gradient(#0a0404, #700b07);
    color: white;
}
@media (max-width:1000px) {
 html {
    font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
    background-color: linear-gradient(#0a0404, #700b07);
    color: white;
 }
}

nav {
    text-align: center;
    display: flex;
    justify-content: center;
    background-image: url("https://media.tenor.com/h67fjCMSvGUAAAAC/fire-flames.gif");
    background-size: contain;
    background-repeat: repeat;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
  /* nav ul {
    display: inline;
    
} */ 
p {
    margin-left: 2em;
    margin-right: 2em;
}

h1{ 
    transition: color 800ms;
    transition: all 2s;
    /* text-shadow: rgb(150, 4, 4) 0px 6px; */
    text-align: center; 
    letter-spacing: .2rem;
    font-weight: 100;
    font-size: 3.5vw;
    font-family: Nosifer, fantasy;
   color: rgb(204, 199, 199);
   height: 100px;
   margin-top: 125px;
   transition: font-size: 1s, color 3s; 
}
h1:hover {
    cursor: pointer;
    transition: color 300ms;
    transition: all 1.6s;
    text-shadow: rgb(150, 148, 148) 0px 6px;
    text-align: center; 
    letter-spacing: .2rem;
    font-weight: 100;
    font-size: 3.5vw;
    font-family: Nosifer, fantasy;
   color: rgb(204, 199, 199);
   height: 100px;
   margin-top: 125px;
   transition: font-size: 1.6s, color 3s; 
}

h2{ 
    
    text-align: center;
    font-family: Nosifer, fantasy;
    text-shadow: #a01006 0px 6px;
}

h3 {
font-size: 25px;
text-align: center;
text-shadow: #700b07 4px 3px;

}

body p, ul {
line-height: 3;
text-indent: 50px;
}

a {
text-decoration: none;
color: rgb(252, 6, 6);
font-family: Roboto Condensed;
font-size: 1rem;
text-transform: uppercase;
}

button {
  background-color: black;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  /* text-shadow: #0a0404 4px 4px; */
  display: inline-block;
  font-size: 20px;
  font-family: Roboto Condensed, Arial;
}

button:hover {
    background-color: #790c04;
  outline: 2px solid #faf9f9;
  color: rgb(235, 229, 229);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: Roboto Condensed, Arial;
}

#logo { 
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -12%;
  margin-bottom: -10%;
  height: 50vw;
  /* position: absolute;
  top: 10%;
  left: -1%;
  height: 170px; */

}

#logo2 { 
    display: block;
  margin-left: auto;
  margin-right: auto;
}

#container {
    width: 400px;
    color: rgb(214, 210, 210);
    background-image: url("https://cdn.shopify.com/s/files/1/0176/7420/7304/products/KH04898_2.jpg?v=1619084296&width=1100");
    font-style: bold; 
    margin: auto; 
    padding: 1em; 
}

#container section {
    width: 400px;
    display: inline-block;
}

li {
    font-size: 15px;
    color: rgb(214, 210, 210);
}

#categories > li {
    font-size: 20px;
    color: #a01006;
}

.big {
    transform: scale(1.0);
}
.big:hover {
    transform: scale(1.1);
}

.small {
    transform: scale(.9);
}
