<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nosifer&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nosifer&family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link href='https://css.gg/home.css' rel='stylesheet'>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS DBD.css">
    <title>Characters of Dead By Daylight</title>
</head>
<nav>
    <ul><a href="Dead by Daylight Facts.html"><button type="submit"><i class="gg-home"></i></button></a></ul>
    <ul><a href="Characters of Dead By Daylight.html"><button type="submit">Characters</button></a></ul>
    <ul><a href="https://www.youtube.com/watch?v=MirsEPhMPgMBeginner's"><button type="submit">Guide to Dead By Daylight</button></a></ul>
</nav>
<body>
  <h1>Characters of Dead By Daylight</h1> 
 
<h2>Survivors</h2>
 <p>There are 33 playable Survivors in Dead by Daylight. Each one has their own unique teachable perks and backstory. Refer to the list below to find out more about each character.</p>
 
 <h3>Female survivors</h3>
 
 <ul>
    <img src="https://static.wikia.nocookie.net/deadbydaylight_gamepedia_en/images/9/99/S26_charSelect_portrait.png/revision/latest/scale-to-width-down/150?cb=20220813084554">
    <li><a href="https://deadbydaylight.fandom.com/wiki/Jill_Valentine#:~:text=Founding%20Member%20of%20S.T.A.R.S.&text=She%20was%20introduced%20as%20one,remake%20of%20Resident%20Evil%203.">Jill Valentine</a></li>
    <img src="https://static.wikia.nocookie.net/deadbydaylight_gamepedia_en/images/d/d7/S16_charSelect_portrait.png/revision/latest/scale-to-width-down/150?cb=20200721164524">
    <li><a href="https://deadbydaylight.fandom.com/wiki/Jane_Romero#:~:text=Advertisement-,Overview,others%20is%20a%20valued%20asset.">Jane Romero</a></li>
<hr>

    <h2>Dead By Daylight killers</h2>
    <hr>
    <table>
       <caption>About The Killers</caption>
       <thead>
         <tr>
             <td><b>Killer</b></td>
             <td colspan="3"><b>Statistics</b></td>
             <td><b>Difficulty</b></td>
         </tr>
     </thead>
        <tr>
          <td>Name</td> 
          <td>Speed</td>
          <td>Height</td>
          <td>Terror Radius</td>
        </tr>
       <tbody>
        <tr>
            
            <td>Deathslinger</td>
            <td>4.4m/s</td>
            <td>Tall</td>
            <td>32m</td>
            <td>Hard</td>
            <td><img src="https://static.wikia.nocookie.net/deadbydaylight_gamepedia_en/images/8/84/K19_charSelect_portrait.png/revision/latest/scale-to-width-down/150?cb=20200721164606"></td>
        </tr>
        <tr>
            <td>Trapper</td>
             <td>4.2m/s</td>
             <td>Tall</td>
             <td>32m</td>
             <td>Easy</td>
             <td><img src="https://static.wikia.nocookie.net/deadbydaylight_gamepedia_en/images/9/9f/K01_charSelect_portrait.png/revision/latest/scale-to-width-down/150?cb=20200721164223"></td>
        </tr>
        <tr>
            <td>Nurse</td>
            <td>3.8m/s</td>
            <td>Short</td>
            <td>28m</td>
            <td>Very Hard</td>
            <td><img src="https://static.wikia.nocookie.net/deadbydaylight_gamepedia_en/images/3/31/K04_charSelect_portrait.png/revision/latest/scale-to-width-down/150?cb=20200721164254"></td>
        </tr>
        <tr>
            <td>The Onry&omacr;</td>
            <td>4.6m/s</td>
            <td>Short</td>
            <td>24m</td>
            <td>Hard</td>
            <td><img src="https://static.wikia.nocookie.net/deadbydaylight_gamepedia_en/images/e/e2/K27_charSelect_portrait.png/revision/latest/scale-to-width-down/150?cb=20220217125154"></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>Total</td>
            <td>4</td>
        </tr>
    </tfoot>
    </table>
</ul>
</body>
</html>